body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 1.9;
}

li {
  list-style: none;
}

header {
  height: 60px;
  margin-bottom: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  z-index: 99;
  }

.header_logo {
  float: left;
  padding: 15px 53px;
}

.header_list ul {
  float: right;
  margin: 0;
}

.header_list ul li {
  display: inline-block;
}

.header_list ul li:last-child {
  padding-left: 20px;
}

.topicPath {
  font-size: 12px;
  line-height: 1.5;
  color: #999999;
  padding-bottom: 15px;
  margin-top: 130px;
  padding-left: 220px;
}

.topicPath a {
  cursor: pointer;
  text-decoration: none;
  color: #999999;
}

.articleHead {
  position: relative;
  height: 250px;
  overflow: hidden;
}

.articleHeadText {
  position: absolute;
  top: 20px;
  width: 380px;
  color: #FFF;
  z-index: 2;
  padding-left: 220px;
}

.articleHeadText h1 {
  font-size: 28px;
  margin-top: 15px;
}

.articleHeadText p {
  font-size: 20px;
  margin-bottom: 0;
}

.articleHead img {
  position: absolute;
  z-index: 1;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.articleBody {
  width: 800px;
  margin: 0 auto;
}

.snsBtn ul {
  float: right;
  margin: 32px 64px;
  margin-right: 0;
}

.snsBtn li {
  float: left;
  padding-right: 22px;
}

.snsBtn li:last-child {
  padding: 0;
}

.share {
  color: #666;
  font-size: 10px;
  font-weight: bold;
  padding-top: 5px;
}

.snsBtn::after {
  content: "";
  clear: both;
  display: block;
}

.articleBodyTitle {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  margin-top: 10px;
}

.articleBodyTitle h2 {
  font-size: 22px;
  margin: 0;
  padding-left: 30px;
}

.articleBodyTitle img {
  position: absolute;
  top: 6px;
}

.articleBody-A p {
  color: #555555;
}

.articleBody-A img {
  max-width: 100%;
  margin-top: 33px;
}