@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 1.9;
  color: #555;
}

li {
  list-style: none;
}



/* ヘッダー */

#pageHead {
  height: 60px;
  margin-bottom: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  z-index: 5;
}

#pageHead .headerLogo {
  float: left;
  padding: 15px 53px;
}

#pageHead .headerLogo img {
  width: 58px;
  height: 28px;
}


#pageHead .headerRight {
  float: right;
  width: 190px;
  line-height: 0;
}

#pageHead .headerRight .headerMenu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#pageHead .headerRight .headerMenu a {
  width: 60px;
  display: block;
}

#pageHead .headerRight .headerMenu a img {
  width: 60px;
  height: 60px;
}

#pageHead .headerRight .headerMenu .icons {
  width: 120px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#pageHead .headerRight .headerMenu .icons a {
  width: 60px;
  text-decoration: none;
  color: #005bac;
}

/* パンくずナビ */

#topicPath {
  font-size: 12px;
  line-height: 1.5;
  color: #999;
  padding-bottom: 15px;
  margin-top: 130px;
  padding-left: 220px;
}

#topicPath a {
  text-decoration: none;
  color: #999;
}

/* メインタイトル画像 */

#pageBody #articleHead {
  position: relative;
  height: 250px;
  overflow: hidden;
}

#pageBody #articleHead .articleHeadText {
  position: absolute;
  top: 15px;
  left: 220px;
  z-index: 2;
}

#pageBody #articleHead .articleHeadText h1 {
  font-size: 28px;
  margin-top: 15px;
  color: #FFF;
}

#pageBody #articleHead .articleHeadText p {
  font-size: 20px;
  color: #FFF;
  margin-bottom: 0;
}

#pageBody #articleHead img {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* メインボディ */

#pageBody #articleBody,
#pageBody #articleFoot {
  width: 800px;
  margin: 0 auto 100px;
}

/* SNSボタン小 */

#pageBody .snsBtn {
  margin-bottom: 20px;
}

#pageBody .snsBtn ul {
  float: right;
  margin: 32px 64px;
  margin-right: 0;
}

#pageBody .snsBtn ul li {
  float: left;
  padding-right: 22px;
}

#pageBody .snsBtn li:last-child {
  padding: 0;
}

#pageBody .snsBtn ul .share {
  color: #666;
  font-size: 12px;
  font-weight: bold;
  padding-top: 5px;
}

#pageBody .snsBtn::after {
  content: "";
  clear: both;
  display: block;
}

#pageBody .snsBtn ul li a img {
  width: 24px;
  height: 24px;
}

/* 記事見出し */

#pageBody .articleBodyTitle {
  display: flex;
  position: relative;
  margin-bottom: 30px;
}

#pageBody .articleBodyTitle h2 {
  font-size: 22px;
  margin: 0;
  padding-left: 30px;
}

#pageBody .articleBodyTitle img {
  position: absolute;
  top: 5px;
  width: 22px;
  height: 22px;
}

/* 図表 */

#pageBody #articleBody-A figure img {
  width: 100%;
  margin-top: 33px;
}

#pageBody #articleBody-A figure {
  margin: 0;
}

/* PDFボタン */

#pageBody #articleBody-A .boxLink {
  width: 295px;
  margin: 40px auto 80px;
}

#pageBody #articleBody-A .boxLink a {
  background-color: #005bac;
  color: #fff;
  padding: 15px;  
  font-size: 16px;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 1.2;
  position: relative;
  white-space: nowrap;
  border: 1px solid #005bac;
}

#pageBody #articleBody-A .boxLink a::before {
  content: ">";
  font-size: 11px;
  position: absolute;
  top: 30px;
  left: 10px;
}

#pageBody #articleBody-A .boxLink a::after {
  content: url("../../images/icon-pdf.svg");
  position: absolute;
  bottom: 10px;
}

#pageBody #articleBody-A .boxLink a:hover {
  opacity: 0.7;
}

/* 取組み事例リスト */

#pageBody #articleBody-B .articleBodyList {
  display: flex;
  flex-wrap: wrap;
}

#pageBody #articleBody-B .articleBodyList article {
  width: 184px;
  margin-right: 21px;
  margin-bottom: 30px;
}

#pageBody #articleBody-B .articleBodyList article:nth-child(4n) {
  margin-right: 0;
}

#pageBody #articleBody-B .articleBodyList .articleBodyListVisual {
  position: relative;
  border: 1px solid #ccc;
}

#pageBody #articleBody-B .articleBodyList .articleBodyListVisual:hover {
  border: 1px solid #005bac;
}

#pageBody #articleBody-B .articleBodyList .articleBodyListVisual .articleBodyListCategory {
  background-color: #005bac;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#pageBody #articleBody-B .articleBodyList .articleBodyListVisual .articleBodyListCategory h4 {
  margin: 0px;
  padding: 2px 6px;
  font-size: 12px;
  color: #fff;
  line-height: 1.9;
}

#pageBody #articleBody-B .articleBodyList a img {
  width: 100%;
  position: relative;
  z-index: 0;
  display: block;
}

#pageBody #articleBody-B .articleBodyList .articleBodyListText P,
#pageBody #articleBody-B .articleBodyList .articleBodyListText ul li,
#pageBody #articleBody-B .articleBodyList .articleBodyListText time {
  font-size: 14px;
  line-height: 1.5;
}

#pageBody #articleBody-B .articleBodyList .articleBodyListText a {
  text-decoration: none;
  color: inherit;
}

#pageBody #articleBody-B .articleBodyList .articleBodyListText p {
  margin: 10px 0;
}

#pageBody #articleBody-B .articleBodyList .articleBodyListVisual a {
  display: block;
}

#pageBody #articleBody-B .articleBodyList .articleBodyListText ul li {
  border: 1px solid #ccc;
  border-radius: 10px;
  display: inline;
  padding: 5px 10px;
  font-size: 12px;
  color: #555;
}

#pageBody #articleBody-B .articleBodyList .articleBodyListText ul {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 20px;
}

#pageBody #articleBody-B .articleBodyList .articleBodyListText time {
  color: #999;
}

#pageBody #articleBody-B .articleBodyList .articleBodyListText p a:hover,
#pageBody #articleBody-B .articleBodyList .articleBodyListText ul li a:hover {
  text-decoration-line: underline;
}

/* 前後ページへのリンク */

#pageBody #articleFoot .linearNavi {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

#pageBody #articleFoot .linearNavi a {
  color: #005bac;
  text-decoration: none;
}

#pageBody #articleFoot .linearNavi a:hover {
  text-decoration: underline;
}

/* NRI強みボックスリンク */

#pageBody #articleFoot .springboard {
  background-color: #deecf8;
  padding: 25px 10px 30px;
  margin: 50px 0 30px;
}

#pageBody #articleFoot .springboard h4 {
  margin: 0 0 7px;
  padding-left: 10px;
}

#pageBody #articleFoot .springboard .springboardListTop {
  display: flex;
  align-content: center;
}

#pageBody #articleFoot .springboard .springboardListTop a {
  display: block;
  width: 100%;
}

#pageBody #articleFoot .springboard .springboardListBottom {
  display: flex;
  align-content: center;
}

#pageBody #articleFoot .springboard .springboardListBottom a {
  display: block;
  width: 100%;
}

#pageBody #articleFoot .springboard a {
  text-decoration: none;
}

#pageBody #articleFoot .springboard .springboardListHeading {
  background-color: #fff;
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

#pageBody #articleFoot .springboard .springboardListTop .springboardListHeading {
  height: 70px;
}

#pageBody #articleFoot .springboard .springboardListBottom .springboardListHeading {
  height: 50px;
}

#pageBody #articleFoot .springboard .springboardListHeading img {
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
}

#pageBody #articleFoot .springboard .springboardListHeading p {
  color: #005bac;
  line-height: 1.25;
  width: 100%;
  text-align: center;
}

#pageBody #articleFoot .springboard .springboardListHeading:hover {
  background-color: #f4f4f4;
}

/* 企業情報ナビ */

#pageFoot .localNavi,
#pageFoot .backpage {
  width: 1000px;
  margin: 0 auto;
}

#pageFoot .localNaviTitle {
  height: 90px;
  border-bottom: 1px dotted #999;
  border-top: 2px solid #000;
  box-sizing: border-box;
}

#pageFoot .localNaviTitle h2 {
  font-size: 20px;
  line-height: 80px;
  margin: 0;
}

#pageFoot .localNaviCat {
  border-bottom: 1px dotted #999;
}

#pageFoot .localNaviCat h3 {
  font-size: 16px;
  margin-top: 35px;
}

#pageFoot .localNaviCatList {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

#pageFoot .localNaviCatListHeading {
  width: 25%;
  position: relative;
}

#pageFoot .localNaviCatListHeading p {
  margin: 7px 0;
}

#pageFoot .localNaviCatListHeading a {
  display: block;
  padding: 0 15px;
  font-size: 14px;
  text-decoration: none;
  color: #005bac;
}

#pageFoot .localNaviCatListHeading img {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

/* 前ページリンク */

#pageFoot .backpage {
  position: relative;
  margin-top: 60px;
  margin-bottom: 90px;
}

#pageFoot .backpage a {
  display: block;
  padding: 0 20px;
  font-size: 16px;
  text-decoration: none;
  color: #005bac;
}

#pageFoot .backpage img {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

/* SNSボタン大 */

#pageFoot .followUs {
  height: 90px;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#pageFoot .followUs p,
#pageFoot .followUs img {
  padding: 0 20px;
}

#pageFoot .followUs p {
  color: #005bac;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}

#pageFoot .followUs img {
  width: 28px;
  height: 28px;
}

/* グローバルナビ */

#pageFoot .globalNavi {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#pageFoot .globalNavi a {
  display: block;
  text-decoration: none;
  color: #666;
}

#pageFoot .globalNavi a:hover {
  text-decoration: underline;
}

#pageFoot .globalNaviItem {
  width: 25%;
  box-sizing: border-box;
  padding: 0 10px;
}

#pageFoot .globalNaviTitle h4 {
  background-image: url("../../images/icon-chevronRight.svg");
  background-repeat: no-repeat;
  background-size: 3px;
  background-position: left;
  padding: 15px 0 15px 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  font-weight: 1000;
  margin: 0;
}

#pageFoot .globalNaviList ul li {
  background-image: url("../../images/icon-chevronRight.svg");
  background-repeat: no-repeat;
  background-size: 3px;
  background-position: 0 95%;
  padding-left: 15px;
  font-size: 14px;
  padding-top: 20px;
  color: #ccc;
}

#pageFoot .globalNaviList ul {
  padding: 0;
  margin-top: 0;
}

/* フッター */

#pageFoot {
  width: 1000px;
  margin: 0 auto 120px;

}

#pageFoot .footerList {
  display: flex;
  margin-top: 50px;
}

#pageFoot .footerList a {
  display: block;
  text-decoration: none;
  color: #999;
  font-size: 12px;
  padding: 0 15px;
  line-height: 1;
}

#pageFoot .footerList a:hover {
  text-decoration: underline;
}

#pageFoot .footerList p {
  border-right: 1px solid #ccc;
}

#pageFoot .footerList p:last-child {
  border-right: none;
}

/* コピーライト */

#pageFoot #copyright {
  padding: 0 10px;
}

#pageFoot #copyright small {
  font-size: 10px;
}

#pageFoot #copyright p {
  margin: 0;
  padding: 0;
}