@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 1.9;
  color: #555555;
}

li {
  list-style: none;
}



/* ヘッダー */

header {
  height: 60px;
  margin-bottom: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  z-index: 99;
  }

.header_logo {
  float: left;
  padding: 15px 53px;
}

.header_list ul {
  float: right;
  margin: 0;
}

.header_list ul li {
  display: inline-block;
}

.header_list ul li:last-child {
  padding-left: 20px;
}

/* パンくずナビ */

.topicPath {
  font-size: 12px;
  line-height: 1.5;
  color: #999999;
  padding-bottom: 15px;
  margin-top: 130px;
}

.topicPath a {
  cursor: pointer;
  text-decoration: none;
  color: #999999;
}

/* メインタイトル画像 */

.articleHead {
  position: relative;
  height: 250px;
  overflow: hidden;
}

.articleHeadText {
  position: absolute;
  top: 15px;
  width: 380px;
  z-index: 2;
}

.articleHeadText h1 {
  font-size: 28px;
  margin-top: 10px;
  color: #FFF;
}

.articleHeadText p {
  font-size: 20px;
  color: #FFF;
  margin-bottom: 0;
  font-weight: lighter;
}

.articleHead img {
  position: absolute;
  z-index: 1;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* メインボディ */

.articleBody {
  width: 800px;
  margin: 0 auto 120px;
}

/* SNSボタン */

.snsBtn ul {
  float: right;
  margin: 32px 64px;
  margin-right: 0;
}

.snsBtn li {
  float: left;
  padding-right: 22px;
}

.snsBtn li:last-child {
  padding: 0;
}

.share {
  color: #666;
  font-size: 10px;
  font-weight: bold;
  padding-top: 5px;
}

.snsBtn::after {
  content: "";
  clear: both;
  display: block;
}

/* メイン記事 */

.articleBodyTitle {
  display: flex;
  position: relative;
  margin-bottom: 30px;
}

.articleBodyTitle h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  padding-left: 30px;
}

.articleBodyTitle img {
  position: absolute;
  top: 8px;
}

/* 図表 */

.articleBody-A figure img {
  max-width: 100%;
  margin-top: 33px;
}

figure {
  margin: 0;
}

/* PDFボタン */

.boxLink {
  width: 295px;
  margin: 30px auto 80px;
}

.boxLink a {
  background-color: #005bac;
  color: #fff;
  padding: 15px;  
  font-size: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 1.2;
  position: relative;
  white-space: nowrap;
  border: 1px solid #005bac;
}

.boxLink a::before {
  content: ">";
  font-weight: lighter;
  font-size: 11px;
  position: absolute;
  top: 30px;
  left: 10px;
}

.boxLink a::after {
  content: url("../../images/icon-pdf.svg");
  position: absolute;
  bottom: 10px;
}

.boxLink a:hover {
  opacity: 0.7;
}

/* 取組み事例リスト */

.articleBodyList {
  display: flex;
  flex-wrap: wrap;
}

.articleBodyList article {
  width: 184px;
  margin-right: 21px;
  margin-top: 30px;
}

.articleBodyList article:nth-child(4n) {
  margin-right: 0;
}

.articleBodyListVisual {
  position: relative;
  border: 1px solid #ccc;
}

.articleBodyListVisual:hover {
  border: 1px solid #005bac;
}

.articleBodyListCategory {
  background-color: #005bac;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.articleBodyListCategory p {
  margin: 0px;
  padding: 2px 6px;
  font-size: 12px;
  color: #ffffff;
}

.articleBodyList a img {
  max-width: 100%;
  position: relative;
  z-index: 0;
  display: block;
}

.articleBodyListText P,
.articleBodyListText ul li,
.articleBodyListText time {
  font-size: 14px;
  line-height: 1.5;
}

.articleBodyListText a {
  text-decoration: none;
  color: inherit;
}

.articleBodyListText p {
  margin: 10px 0;
}

.articleBodyListVisual a {
  display: block;
}

.articleBodyListText ul li {
  border: 1px solid #ccc;
  border-radius: 10px;
  display: inline;
  padding: 5px 10px;
  font-size: 12px;
  color: #555555;
}

.articleBodyListText ul {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 20px;
}

.articleBodyListText time {
  color: #999;
}

.articleBodyListText p a:hover,
.articleBodyListText ul li a:hover {
  text-decoration-line: underline;
}

/* 前後ページへのリンク */

.linearNavi {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.linearNavi a {
  color: #005bac;
  text-decoration: none;
}

.linearNavi a:hover {
  text-decoration: underline;
}

/* NRI強みボックスリンク */

.springboard {
  background-color: #deecf8;
  padding: 25px 10px 30px;
  margin: 50px 0 20px;
}

.springboard h4 {
  margin: 0 0 7px;
  padding-left: 10px;
}

.springboardListTop {
  display: flex;
  align-content: center;
}

.springboardListTop a {
  display: block;
  width: 100%;
}

.springboardListBottom {
  display: flex;
  align-content: center;
}

.springboardListBottom a {
  display: block;
  width: 100%;
}

.springboard a {
  text-decoration: none;
}

.springboardListHeading {
  /* width: 250px; */
  background-color: #fff;
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.springboardListTop .springboardListHeading {
  height: 70px;
}

.springboardListBottom .springboardListHeading {
  height: 50px;
}

.springboardListHeading img {
  display: block;
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
}

.springboardListHeading p {
  color: #005bac;
  line-height: 1.25;
  width: 100%;
  text-align: center;
}

.springboardListHeading:hover {
  background-color: #f4f4f4;
}

#pageBody {
  border-bottom: 2px solid #000;
}

.localNaviTitle {
  height: 80px;
  border-bottom: 1px dotted #ccc;
  box-sizing: border-box;
}

.localNaviTitle h2 {
  font-size: 20px;
  line-height: 80px;
  margin: 0;
}

.localNaviCat {
  border-bottom: 1px dotted #ccc;
}

.localNaviCatList {
  display: flex;
  flex-wrap: wrap;
}

.localNaviCatListHeading {
  width: 25%;
  position: relative;
}

.localNaviCatListHeading a {
  display: block;
  padding: 0 15px;
  font-size: 14px;
  text-decoration: none;
  color: #005bac;
}

.localNaviCatListHeading img {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

.backpage {
  position: relative;
  margin: 60px 0;
}

.backpage a {
  display: block;
  padding: 0 20px;
  font-size: 16px;
  text-decoration: none;
  color: #005bac;
}

.backpage img {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}